{% extends 'playground/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My Django App!</h1>
        <p class="lead">This is a simple Django application with Bootstrap styling.</p>
        <hr class="my-4">
        <p>Explore our products and learn more about us.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'products' %}" role="button">View Products</a>
    </div>
{% endblock %}
